#pageContainer {
    flex: auto;
    min-height: 100vh;
    overflow: hidden;
}

.media {
    padding-bottom: 10px;
}

/* FORM */
img {
    object-fit: cover;
    max-width: 95%;
}

#formContainer {
    justify-content: center;
    align-items: center;
    max-width: 700px;
    padding-top: 5%;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

h1 {
    font-size: x-large;
}

.form-control {
    border-radius: 5px;
    border-width: 4px;
    border-color:#00000039;
    background: #ffffff;
    min-height: 58px;
}

.form-control:focus {
    border-radius: 5px;
    border-width: 4px;
    border-color: #456f7aa1;
    box-shadow: none;
}

.form-label {
    color: #bebebe;
}

/* PHONE INPUT */
.react-tel-input input.form-control  {
    border-style: solid;
    border-radius: 5px;
    border-width: 4px;   
}

.react-tel-input div.flag-dropdown {
    border-color: transparent;
    margin: 4px
}

.react-tel-input .flag-dropdown {
    background-color: #ffffff00;
}

.react-tel-input .flag-dropdown.open {
    border-color: transparent;
    border-radius: 2px;
    border-width: 2px;
    background-color: #01627d;
}

.react-tel-input input.form-control {
    min-height: 58px;
    width: 100%;
}

.form-check {
    margin-bottom: 12px;
}

/* TIME */
.ant-picker {
    border-style: solid;
    border-color: #00000039;
    border-radius: 5px;
    border-width: 4px;
    padding: 0px;
    width: 100%;
    height: 58px;   
}

.ant-picker:hover {
    border: solid;
    border-width: 4px;
    border-color: #c6c6c6;
    box-shadow: none;
}

.ant-picker:active {
    border: solid;
    border-width: 4px;
    border-color: #456f7aa1;
    box-shadow: none;
}

.ant-picker-input {
    padding: 15px;
}

.ant-picker-suffix, .ant-picker-clear {
    padding-left: 15px;
}

.ant-picker-clear {
    padding-right: 15px;
}

.anticon svg {
    width: 1.5em;
    height: 1.5rem;
    color: #01627da1
}

.anticon-clock-cirle {
    background: #01627d;
}

.ant-picker-panel-container {
    border-style: solid;
    border-color: #456f7aa1;
    border-width: 4px;
}

.ant-picker-panel-container .ant-picker-ok .ant-btn {
    background: #01627d;
    color: white;
}

.btn-secondary {
    color: #ffffff;
    background: #01627d;
    width: 100%;
    height: 58px;
}

.btn-secondary:hover {
    background: #5d8fa0;
}

.btn-secondary svg {
    padding-right: 10px;
}

#spinnerBtn {
    width: 100%;
    height: 58px;
    justify-content: center;
    color: white;
    background-color: #5d8fa0;
    border-color: #5d8fa0;
}

.form-check {
    font-size: small;
    text-align: left;
}

/* LANGUAGE */

.languageList {
    margin: 15px;
    position: relative;
}

.languageList select {
    border-radius: 4px;
    border: solid;
    border-color: #c6c6c6;
}

/* MODAL */
.btn-close {
    display: none;
}

.modal {
    align-items: none;
    justify-content: none,
}

.modal-body {
    flex: none;
}

.modal-content {
    align-items: center;
}

.modal-footer .btn {
    color: white;
    background-color: #01627d;
    border: none;
}

.modal-footer .btn:hover {
    background: #5d8fa0;
}

/* ALERT/ERROR */
.alert {
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    min-height: 48px;
    background-color: #ea9292;
}
